@import '_colors.scss';

@mixin restaurant-grid {

    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 15px;
    padding-bottom: 40px;

}

@mixin cards {
    // border: 2px black solid;
    border-radius: 15px;
    box-shadow: 0 0 6px 0px grey;
    width: 320px;
    height: 200px;

}

@mixin img-cards {
    border-radius: 12px 12px 0 0;
    width: 320px;
    height: 140px;
    padding: 0;
    margin: 0;
}

@mixin text-cards {
    display: grid;
    grid-template-columns: 230px 80px;
    grid-template-rows: 25px 25px;
    width: 310px;
    height: 55px;
    padding: 0 0 0 5px;
    margin: 0;
    text-align: left;
    grid-template-areas: 
    "ti he1"
    "to he2";

    .card-title {
        grid-area: ti;
        margin: 0;
        padding: 2px 0 0 10px;
        color: $color-initial;
    }

    .card-town {
        grid-area: to;
        margin: 0;
        padding: 2px 0 0 10px;
        color: $color-initial;
    }

    .empty-heart {
        grid-area: he1;
        font-size: 22px;
        padding: 12px 0 0 20px;
        
        .fa-heart {
            color: $color-initial;
            opacity: 1;

            &:hover {
                opacity: 0;
            }

        }

    }


    .full-heart {
        
        grid-area: he1;
        font-size: 22px;
        padding: 12px 0 0 20px;
        
        

        .fa-heart {

            opacity: 0; 
            color: $color-heart-full;

            &:hover {
                opacity: 1;
            }
        }
    }

}
