$color-primary: #fff;

$color-secondary: 0px 3px 7px grey;

$color-third: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);

$color-fifth: rgb(230, 230, 230);

$color-sixth: rgb(240, 240, 240);

$color-seventh: rgb(87, 87, 87);

