$color-body: #fff;

$color-shadow-box: 0px 3px 7px grey;

$color-gradient-box: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);

$color-one: rgb(230, 230, 230);

$color-two: rgb(240, 240, 240);

$color-three: rgb(87, 87, 87);

$color-initial: #000;

$color-heart-full: red;



