$color-body: #fff;

$color-shadow-box: 0px 3px 7px grey;

$color-gradient-box: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);

$color-one: rgb(230, 230, 230);

$color-two: rgb(240, 240, 240);

$color-three: rgb(65, 65, 65);

$color-initial: #000;

$color-heart-full: -webkit-linear-gradient(90deg, #ff79da 0%, #9356dc 100%);

$color-bubble-choice: #b64ee6;

$color-choice: 0px 0.06px 1px grey;

$color-choice-shadow: 0px 0.06px 3px 2px grey;
