@import 'utils/_colors.scss';
@import 'utils/_card.scss';

a {
    text-decoration: none;
    color: black;

    &:active {
        color: black;
    }

    &:visited {
        color: black;
    }
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $color-body;
    margin: 0;
    text-align: center;
    
}

// header

.img-title {
    padding-top: 20px;
    padding-bottom: 5px;
}

.localisation {
    box-shadow: inset 0  7px 4px -6px rgb(196, 196, 196);
    background-color: $color-one;
    padding: 10px;
    font-size: 0.9em;
}

// top main page

.top-main-page {
    padding: 2rem;
    background-color: $color-two;

    h2 {
        margin: 0;
    }

}

.btn_explore {
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-image: $color-gradient-box;
    box-shadow: 0px 3px 7px grey;
    color : white;
}

.choice-main-page {
    border: none;
}

.choice-title {
    margin: 20px 0px 0px 20px;
    text-align: center;
}

.choice-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.choice {
    display: flex;
    justify-content: left;
    border: none;
    box-shadow: $color-shadow-box;
    border-radius: 20px;
    margin: 1rem;
    padding: 20px 40px 20px 40px;
    width: 13rem;
    background-color: $color-two;
}

.choice-text {
    padding-left: 20px;
    padding-right: 0px;
}

// card

.list-restaurants {
    background-color: $color-two;
}

.list-restaurants-title {
    margin: 0;
    padding: 50px 0 40px 20px;
    text-align: center;
}

.all-card-restaurants {

    @include restaurant-grid

}

.link-card-restaurants {
    @include cards
}

.img-card {
    @include img-cards
}

#img-card-1 {
    object-position: 50% -50px;
}

#img-card-2 {
    object-position: 50% -140px;
}

#img-card-3 {
    object-position: 50% -50px;
}

#img-card-4 {
    object-position: 50% -50px;
}

.new {

    @include nouveau;

}

.info-card {
    @include text-cards
}

// footer

footer {
    border: none;
    background-color: $color-three;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-footer {
    width: 100px;
    margin: 20px 0 20px 20px;
}

.footer-list {
    margin: 0 0 20px 20px;
    padding: 0;
    text-align: left;
    color: white;

    .fa-utensils {
        padding: 0 13px 0 0;
        font-size: 13px;
    }

    .fa-hands-helping {
        padding: 0 10px 0 0;
        font-size: 11px;
    }

    a {
        color: white;
    }

    li {
        padding: 0 0 5px 0;;
    }
}

// Responsive

// @media screen and (max-width: 1112px){

// }

// @media screen and (max-width: 800px) {

//     .choice-top {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     .choice-title {
//         text-align: start;
//     }


// }